@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    outline: none;
}
html {
    font-size: 15px;
    line-height: 1.5;
    height:100%;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
ul,body,h1,h2,h3,h4,h5,h6, p {
    padding:0;
    margin:0;
}
h1,h2,h3,h4{
    font-weight: 500;
}
a {
    text-decoration: none;
    color: #182334;
}
a:hover {
    color: #507ab7;
}
ul li {
    list-style: none;
}
ul.list-inline li{
    list-style: none;
    display: inline;
    font-size: 14.5px;
}
.list li{
    list-style:disc;
    list-style-position: inside
}
.list{
    padding:.5em 1em;
}
svg,img {
    max-width: 100%;
    max-height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #898884;
    border-top: solid 3px #bec128;
    border-top: solid 3px #8a7f8c;
}

hr {
    border: unset;
    border-bottom: dotted #000 1px;
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

/* tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    width: 100%;
}
table td,table th {
    border-bottom: .05rem solid #dadee4;
    padding: .6rem .4rem
}
table th {
    border-bottom-width: .1rem
}
/* buttons */
.button,
button {
    padding: 4px 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: .1rem;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 1px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    color: #FFF;
    background-color: #8a7f8c;
    border-color: #8a7f8b;
    transition: all .35s;
    box-shadow: 3px 3px 2px 0px rgba(32, 31, 31, 0.1803921568627451);
}
.button:hover,
button:hover {
    outline: 0;
    color: #fff;
    background-color: ##8a8c29;;
    border-color: ##8a8c29;;
}

/* Footer */
footer {
    display: flex;
    padding: 100px 20px;
}
footer li a {
    color: #898884;
}
footer .container{
    display: flex;
    justify-content: center;
    color: #898884;
    align-items: center;
}
footer h4 {
    margin-bottom: 5px;
    font-weight: normal;
}

.container{
    max-width: 860px;
}

.sportlight {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}
.featured-body {
    max-width: 500px;
}
.lead-brand {
    justify-content: center;
    display: flex;
}
.lead-brand svg {
    fill: rgba(138,127,141);
    width: 200px;
    height: 200px;
    padding: 20px;
}
.brand-name {
    justify-content: center;
    align-items: center;
    display: flex;
}
.brand-name h1{
    font-size:3.5rem;
    color: #373338;
    text-shadow: 1px 1px 2px rgba(138, 104, 144, 0.57);
}
.brand-name span {
    font-size: .85rem;
}
.brand-mission p{
    max-width: 700px;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 20px;
}
.brand-mission .container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.brand-features .container {
    display: flex;
    flex-direction: column;
}
.brand-features .featured-item {
    display: flex;
    padding: 20px 10px;
    justify-content: space-evenly;
}
.brand-lead .more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured-icon {
    margin-right: 20px;
}
.brand-features {
    padding-bottom: 100px;
    /* background: #f2f3fb; */
}
.brand-menu {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.brand-menu li a{
    font-size: 1.2rem;
}
.brand-menu{
    display: flex;
    align-items: center;
}
.brand-menu .list-inline{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    max-width: 550px;
}
.brand-mission {
    padding-bottom: 50px;
}
.brand-lead {
    padding: 0 5px;
}

.section-header {
    padding: 80px;
    display: flex;
    justify-content: center;
}
.section-header h2{
    font-size: 2.5rem;
    color: rgba(138,127,141);
}
.timeline {
  position: relative;
  width: 860px;
  margin: 0px auto;
  padding: 20px;
  list-style-type: none;
}
.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -3px;
  background: rgba(138,127,141);
  z-index: 5;
}
.timeline li {
  padding: 1em 0;
}
.timeline li::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 400px;
  float: left;
  text-align: right;
}
.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
.direction-l .time-wrapper {
  float: left;
}

.direction-r {
  position: relative;
  width: 400px;
  float: right;
}
.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
.direction-r .flag:before {
  left: -18px;
}
.direction-r .time-wrapper {
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}
.flag-wrapper .flag {
  position: relative;
  display: inline;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 500;
  text-align: left;
}
.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -14px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #8a7f8c;
  z-index: 10;
}

.time-wrapper {
    line-height: 1em;
    color: #8a7e89;
}
.time-wrapper .time {
    padding: 10px 0px;
    display: block;
}

.desc p{
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.5em;
}
.desc {
  display: flex;
  flex-direction: column;
  margin-right: 0.75em;
}
.a-link {
    color: #756182;
    font-style: italic;
    text-decoration: underline;
}
.a-link a:hover {
  text-decoration: underline;
}

.direction-r .desc{
    margin-right: 0;
    margin-left: 0.75em;
}
.brand-contact {
    display: flex;
    padding: 0 10px 100px;
}

input, textarea{
    display: flex;
    border: unset;
    padding: 15px;
    width: 100%;
    border-radius: 2px;
    background: rgba(138, 127, 140, 0.16);
}
.group-input {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.group-input.trap{
    display: none;
}
.group-input button{
    padding: 10px;
    width: 300px;
    font-weight: normal;
}
.contribute-item {
    padding: 20px 20px 10px;
}
.contribute-item h4{
    font-size: 1.3rem;

}
.brand-contribute {
    padding-bottom: 100px;
}

/* Cookie notice */
.cookie-notice {
    position: fixed;
    bottom: 0;
    background: rgba(255, 255, 255, 0.48);
    color: #272626;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 20px;
    border-radius: 3px;
    display: none;
}
.cookie-notice p {
    font-size: 14px;
    margin-bottom: 10px;
}

.message-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.post-sportlight {
    background: #cccccc3d;
    padding: 60px 0;
}
.post-header{
    padding: 40px 10px 20px 10px;
}
.post-header h2 {
    font-size: 2rem;
}
ol {
    margin: 0;
    padding-inline-start: 14px;
    margin-top: 10px;
}
.post-p {
    padding: 20px 10px;
}
.post-p p {
    font-size: 1.2rem;
}
.post-p h3 {
    font-size: 1.5rem;
}
/* Responsive */
@media (max-width:800px) {
    .column {
      flex: 1
    }
    .column + .column{
        margin-top: 10px;
    }
    .card + .card {
        margin-left: unset;
    }
    .row {
        flex-direction: column;
    }
    .related-posts {
        margin: 0 20px;
    }
    .post-header, .post-body{
        padding: 10px 10px;
    }
    .post-header h2 {
        font-size: 1.7rem;
    }
    .post-p p {
        font-size: 1.14rem;
    }
    footer .container{
        flex-direction: column;
    }
    footer .container ul{
        margin-top: 20px;
    }
}
@media (max-width: 860px) {
    .timeline {
      width: 100%;
      padding: 4em 0 1em 0;
    }
    .timeline li {
      padding: 2em 0;
    }
    .direction-l {
      float: none;
      width: 100%;
      text-align: center;
    }
    .direction-l .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: white;
      border-width: 8px;
      pointer-events: none;
    }
    .direction-l .time-wrapper {
      float: none;
    }
    .direction-r {
      float: none;
      width: 100%;
      text-align: center;
    }
    .direction-r .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: white;
      border-width: 8px;
      pointer-events: none;
    }
    .direction-r .time-wrapper {
      float: none;
    }
    .flag-wrapper {
      text-align: center;
    }
    .flag-wrapper .flag {
      background: white;
      z-index: 15;
    }
    .direction-l .flag:before,
    .direction-r .flag:before {
      position: absolute;
      top: -30px;
      left: 50%;
      content: ' ';
      display: block;
      margin-left: -10px;
    }
    .time-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 14;
    }
    .desc {
      position: relative;
      margin: 1em 1em 0 1em;
      padding: 1em;
      background: whitesmoke;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      z-index: 15;
    }

}
@media (max-width: 550px) {
    .brand-mission p {
        font-size: 1rem;
    }
    .lead-brand svg {
        width: 150px;
        height: 150px;
    }
    .brand-menu li a{
        font-size: 1.1rem;
    }
    .brand-name h1 {
        font-size: 3rem;
    }
    .section-header h2 {
        font-size: 2rem;
    }
    .brand-features .featured-item {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
    .featured-body {
        max-width: 400px;
        text-align: center;
        margin-top: 20px;
    }
    .direction-l .flag:before,
    .direction-r .flag:before {
        margin-left: -8px;
    }
    .startup .group-input button {
        width: 100%;
    }
}
