<footer>
    <div class="container ">
        <span>Sakawaka</span>
    </div>
    <div class="cookie-notice" id="cookie_notice">
        <p>This website uses cookies to improve your experience and for analytics. By continuing to browse our website, you agree to our use of cookies.</p>
        <button id="cookie_button">Ok</button>
    </div>
</footer>
